# Next.js build output
.next/

# Node.js dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
npm-debug.log
yarn-error.log

# MacOS system files
.DS_Store

# Code coverage
coverage/

# Custom build output or exported static files
dist/
out/
